body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/src/images/restaurant_counter.jpg);
  background-size: cover;
  overflow: hidden;
}

.App {
   margin: 0 auto;
}

.topper {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background-color: black;
  font-size: 1.5em;
}

h4 {
  font-size: 1.5em;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  color: whitesmoke;
}

.page {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10em;
}